@import '/node_modules/material-design-icons/iconfont/material-icons.css';

/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: light dark;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.text-shadow {
  text-shadow: black 0px 0px 10px;
}

.shadow-neue {
  box-shadow:
    16px 16px 48px #d6d6d6,
    -16px -16px 48px #ffffff;
}

@media (prefers-color-scheme: dark) {
  .shadow-neue {
    box-shadow:
      20px 20px 60px #0c111b,
      -20px -20px 60px #161f33;
  }

  .dark-only-shadow-neue {
    box-shadow:
      20px -20px 60px rgb(17 24 39),
      -20px 20px 60px rgba(3, 7, 18, 0.6) !important;
  }
}
